/*global*/
*{
    margin:0;
    padding:0;
    font-family:"Titillium Web", sans-serif;
}

img{
    max-width:100px;
}

a{
    text-decoration: none;
}


/*utilities*/
.full-background{
    background-image: url(/img/registratrion\ form);
}

.container{
    background-color: rgb(255, 225, 2);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 5px;
}


.container-form{
    background-color: rgba(8, 1, 10, 0.793);
    color: rgba(202, 192, 81, 0.919);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
}
.form-control{
    background-color: rgba(255, 244, 127, 0.774);
    color: black;
}

.R-form{
    font-size: 30px;
}

/*Text Styles*/
.main-text{
    font-family: 900;
    font-size: 55px;
    line-height:1;
    letter-spacing: 1px;
}

.secondary-text{
    font-size:20px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 5px;
}

.normal-text{
    font-size: 20px;
    line-height: 1.5;
}

.btn{
    display: block;
    width: 200px;
    background-color: black;
    color: rgb(228, 224, 224);
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
.btn2{
    display: block;
    width: 250px;
    background-color: black;
    color: rgb(228, 224, 224);
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 50px;
}

/*Header*/

nav a{
    color: black;
    font-weight: 300%;
    font-size: 24px;
    margin: 10px 30px;
}

.site-header{
    background-color: #27c5e190;
}

.site-header2{
    background-color: rgba(255, 225, 2, 0.835);
    
}

.container3{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}


.numPets{
    background-color: rgba(246, 246, 246, 0.586);
    color: rgb(219, 7, 219);
    text-align: center;
    width: 100%;
    font-size:20px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-right: 50px;
    height: auto;
}

.petsNames{
   
    background-color: rgba(9, 1, 1, 0.609);
    color: rgb(221, 136, 221);
    text-align: center;
    width: 100%;
    font-size:20px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    height: auto;
}

.btn-pets{
    background-color: rgba(144, 0, 255, 0.792);
    color: rgb(255, 255, 255);
    text-align: center;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    height: auto;


}

.btn-primary{
    display: block;
    width: 100px;
    background-color: black;
    color: rgb(232, 210, 122);
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;

}

.btn-danger{
    display: block;
    width: 75px;
    background-color: black;
    color: rgb(232, 210, 122);
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.btn-secondary{
    display: block;
    width: 75px;
    background-color: black;
    color: rgb(232, 210, 122);
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.btn-dark{
    display: block;
    width: 75px;
    background-color: black;
    color: rgb(232, 210, 122);
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}



