/*global*/
*{
    margin:0;
    padding:0;
    font-family:"Titillium Web", sans-serif;
}

img{
    max-width:100px;
}

a{
    text-decoration: none;
}


/*utilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: rgba(255, 255, 0, 0.529);
}

.container-form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: rgba(255, 255, 0, 0.237);
}

.R-form{
    font-size: 20px;
}

/*Text Styles*/
.main-text{
    font-family: 900;
    font-size: 55px;
    line-height:1;
    letter-spacing: 1px;
}

.secondary-text{
    font-size:20px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 5px;
}

.normal-text{
    font-size: 20px;
    line-height: 1.5;
}

.btn{
    display: block;
    width: 200px;
    background-color: black;
    color: rgb(228, 224, 224);
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

/*Header*/

nav a{
    color: black;
    font-weight: 300;
    font-size: 24px;
    margin: 10px 30px;
}

.site-header{
    background-color: #27c5e190;
}

.array{
    font-size: 15px;
}

.btn-pets{
    background-color: rgba(255, 0, 30, 0.529);
    color: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 5px;
    margin-bottom:15px;

}

.btn-primary{
    display: block;
    width: 100px;
    background-color: black;
    color: rgb(232, 210, 122);
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;

}

.btn-danger{
    display: block;
    width: 75px;
    background-color: black;
    color: rgb(232, 210, 122);
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.btn-secondary{
    display: block;
    width: 75px;
    background-color: black;
    color: rgb(232, 210, 122);
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.btn-dark{
    display: block;
    width: 75px;
    background-color: black;
    color: rgb(232, 210, 122);
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.form-control{
    background-color: rgba(127, 204, 255, 0.176);
}

